#main {
    border-width: 2px;
    border-style: dashed;
    border-color: #4d4d4d;
    border-radius: 10px;

    padding: 5px;
}

#meth {
    box-shadow: 5px 5px 5px #000000;
    float: left;
    margin-right: 10px;
}

#yapping {
    overflow-y: scroll;

    height: 420px;
    border: 2px solid #4d4d4d;
    border-style: dashed;
    padding: 5px;
}

#dropdown {
    display: inline-block;
}

#dropdown button {
    background-color: #4d4d5d;
    color: rgb(210, 210, 220);
    border: 2px solid #2d2d2d;
    cursor: pointer;
}

#dropdown button:hover {
    background-color: #5d5d6d;
}
#dropdown:not(:hover) #content {
    display: none;
}
#dropdown button:active {
    background-color: #cdcddd;
    color: #1f1f1f;
    border: 2px solid #0d0d1d;
}

#content a {
    display: block;
    text-decoration: none;
    color: rgb(210, 210, 220);
    padding: 5px;
}
#content a:hover {
    background-color: rgb(40, 47, 58);
}
#content a:active {
    background-color: rgb(178, 197, 226);
    color: #1f1f1f;
}

#content {
    display: none;
    position: absolute;
    background-color: rgb(25, 29, 36);
    box-shadow: 5px 5px 5px #000000;
    border: 2px solid #2d2d2d;
    border-radius: 10px;
}